.areas__container{
    width: 100%;
}
.areas{
    padding: 120px 120px 100px 120px;

    .areas__header{
        max-width: 600px;
        margin-bottom: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
        h2{
            margin-bottom: 15px;
        }
    }

    .areas__grid{

    }
}